# Server
PORT=5000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=mainlandsolar_db

# JWT Secrets (use long random strings in production)
JWT_ACCESS_SECRET=your_access_secret_change_this_in_production
JWT_REFRESH_SECRET=your_refresh_secret_change_this_in_production
JWT_RESET_SECRET=your_reset_secret_change_this_in_production
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
JWT_RESET_EXPIRES=5m

# SMTP Email
# Email (ZeptoMail SMTP)
SMTP_HOST=smtp.zeptomail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=emailapikey
SMTP_PASS=wSsVR613rhbzWql9nDavL7g7ng8DVVj+QU193Aeg7nX5GqrE98c6lReYAVCiGPBMRzI/FTIS8b4hyxxW0GYLh98uyVEIDyiF9mqRe1U4J3x17qnvhDzKXmpYlhuIL4IPwA1ommFhE8Bu
MAIL_FROM_NAME=Mainlandsolar
MAIL_FROM_ADDRESS=noreply@mainlandsolar.com

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

PAYSTACK_PUBLIC_KEY=pk_test_335f67322900180b7dc64fce0c61f7b423d48774
PAYSTACK_SECRET_KEY=sk_test_d303c0db71cd79fc26b641ec6a7e171eb214e183

PAYMENT_CALLBACK_URL=https://mainlandsolar.com/payment/verify

SUPPORT_EMAIL=support@mainlandsolar.com
SUPPORT_CC=techsupport@tepcentre.com

# App
APP_NAME=Mainland Solar
CLIENT_URL=http://localhost:3000
ALLOWED_ORIGINS=https://mainlandsolar.com,https://www.mainlandsolar.com,https://lagosapps.com,https://www.lagosapps.com,http://localhost:3000,http://localhost:3001,http://localhost:4000,http://localhost:5173